{% extends 'fypcore/base.html' %}

{% block title %} Policy {% endblock %}

{% block content %}
    <h1 class="text-3xl"> Privacy Policy </h1>

    <h2 class="text-xl mt-4">Introduction</h2>
        <p class="mt-2">
            Welcome to our Privacy Policy page. 
            This page informs you of our policies regarding the collection, use, and disclosure of personal information we receive from users of our site.
        </p><br>
    <h2 class="text-xl mt-4">Information Collection and Use</h2>
        <p class="mt-2">
            While using our site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. 
            This information may include, but is not limited to, your name, email address, and phone number.
        </p>

    <footer>
        <p>Last Updated: 10/09/2023 </p>
    </footer>
{% endblock %}